.container{
  display: flex;
  justify-content: center;
}

.maincontainer {
  padding: 10%;  
  background-color: grey;
  min-height: 100vh;
  overflow: hidden !important;
}

.header{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#addbtn{
  font-size: 24px;
  border-radius: 34px;
  margin-left: 10px;
  padding: 10px;
}

#deleteAll{
  color: #fff;
}

.listContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.listItem{
  min-width: 80%;
  padding: 2% 0%;
}

.list{
  border: 2px solid grey;
  background-color: white;
  display: flex;
  border-radius: 10px;
  font-size: 20px;
  width: 20%;
  padding: 0% 6% ;
}
