.container{
  display: flex;
  justify-content: center;
}

.maincontainer {
  padding: 10%;
  background-color: aqua;
  
}

#addbtn{
  font-size: 24px;
  border-radius: 30px;
  margin-left: 10px;
  padding: 10px;
}

.listContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}



.listItem{
  background-color: white;
  border-radius: 10px;
  width: 80%;
  padding: 4% 0%;
  font-size: 20px;
}